/*header css*/

.header {
 margin-top: 20px;
 display: flex;
 flex: 1;
 flex-direction: column;
}

.header-top__logo {
 display: flex;
 justify-content: left;
 align-items: left;
 margin-right: 20px;
}

.header-top {
 display: flex;
 width: 100%;
 height: 80px;
}

.header-logo {
 color: inherit;
 text-decoration: inherit;
 font-family: RobotoThin;
 font-size: 20px;
}

.header-logos {
 height: 50px;
}

.header-top__navbar {
 display: flex;
 flex: 1;
 flex-direction: column;
}

.header-top__seperator {
 width: 100%;
 border: none;
 height: 2px;
 margin-top: 2px;
 background-color: black;
}

.header-top__navigation {
 display: flex;
 flex: 1;
 flex-direction: row;
 justify-content: flex-end;
 margin-right: 55px;
}

.header-bottom {
 display: flex;
 flex: 1;
 justify-content: flex-end;
 align-items: center;
 margin-top: 6px;
}
