.navbar {
 display: flex;
 flex-direction: row;
}

.navbar-item {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 30px;
 color: inherit;
 text-decoration: inherit;
 outline: none;
}

.navbar {
 overflow: hidden;
 background-color: rgba(250, 251, 252, 0.952);
}

/* Style the top nav links */

.navbar a {
 float: left;
 display: block;
 color: #161616;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

/* Change color on hover */

.navbar a:hover {
 background-color: rgb(51, 117, 248);
 color: rgb(235, 228, 228);
}
